body {
    height : 100vh;
    width : 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    background-color: rgb(246,248,252);
}

.display {
    height : 100vh;
    width : 25rem;
    background-color: white;
}

.top{
    height : 15%;
    display: flex;
}

.bars{
    width:10%;
}

.add{
    width:10%;
}

.details{
    width : 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playing {
    color : rgb(200,205,221);
    font-weight: 600;
    font-size: 0.8rem;
}

.title{
    font-weight: 600;
}

.singer{
    font-weight: 300;
    font-size: 0.9rem;
}

.fa-bars-staggered{
    color : rgb(182,182,182);
    font-size: 2rem;
    margin-left: 50%;
    margin-top: 50%;
}

.fa-square-plus{
    color : rgb(182,182,182);
    font-size: 2rem;
    margin-right: 50%;
    margin-top: 50%;
}



.mid{
    height : 42.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    height:70%;
    width : 90%;
}

.button{
    display: flex;
    align-items: center;
}

span{
    color : rgb(0,185,176);
    font-size: 2rem;
}

.player{
    height:30%;
    width : 90%;
}

img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px lightgr
}

.move{
    height : 20%;
    width : 100%;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid rgb(231,231,231);
}

.icons{
    height : 80%;
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.fa-rotate-left, .fa-backward-step, .fa-forward-step, .fa-shuffle{
    color:rgb(182,182,182);
    font-size : 2rem;
    
}

.fa-circle-play{
    color: rgb(148,148,148);
    font-size: 3.5rem;
    position: relative;
    bottom: 15%;
}



.low{
    background-color: rgb(255,255,255);
    height : 42.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.song1{
    height:20%;
    width : 90%;
    background-color:rgb(255,255,255);
    color : rgb(182,182,182);
    font-weight: 600;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.song2{
    height:20%;
    width : 90%;
    background-color:rgb(255,255,255);
    font-weight: 600;
    display : flex;
    justify-content : space-between;
    align-items : center;
    align-self: center;
}

.song3{
    height:20%;
    width : 90%;
    background-color:rgb(255,255,255);
    color : rgb(182,182,182);
    font-weight: 600;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.song4{
    height:20%;
    width : 90%;
    background-color:rgb(255,255,255);
    color : rgb(182,182,182);
    font-weight: 600;
    display : flex;
    justify-content : space-between;
    align-items : center;
}